@import 'globals';


.detail{
  &-container {
    margin-top: 6rem;
    @include primaryGradientBackground;
    width: fit-content;
    padding: 4rem;
    height: fit-content;
    @include flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    color: $white;
    position: relative;
    border-radius: $border-radius-075;
  }
  &-comments-container{
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
  }
  &-image{
    width: 500px;
    height: 500px;
  }
  &-back-button{
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: $dark-blue;
    border: 1px solid $white;
    color: $white;
    border-radius: $border-radius-075;
  }
  &-info{
    &-container{
      @include flexCenter;
      flex-direction: column;
      height: 70%;  
      width: 95%;
      gap: 1rem;
    }
    &-buy{
      background-color: $dark-blue;
      padding: 1rem;
      font-size: 2rem;
      color: $white;
      cursor: pointer;
      margin-top: 2rem;
      border-radius: $border-radius-075;
      border: 1px solid $white;
    }
    &-container-separator {
      @include flexCenter;
      flex-direction: column;
      justify-content: space-around;
      gap: 1rem;
    }
    &-text {
      width: 50%;
    }
    &-genres {
      gap: 2rem;
    }
  }
}

.comments{
  &-container {
    @include secondaryGradientBackground;
    border-radius: $border-radius-075;
    width: 50%;
    height: fit-content;
    padding: 2rem;
    @include flexCenter;
    flex-direction: column;
    gap: 1rem;
    color: $white;
  }
  &-form {
    @include flexCenter;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $white;
    textarea {
      padding: 0.5rem;
      border-radius: 0.3rem;
      width: 80%;
    }
    &-submit {
      background-color: $dark-blue;
      color: $white;
      border: 1px solid $white;
      cursor: pointer;
      padding: 0.65rem;
    }
    &-error{
      background-color: rosybrown;
      border: 1px solid red;
      color: $white;
      padding: 1rem;
      display: none;
    }
  }  
}

.comment {
  color: $white;
  width: 80%;
  padding: 1rem;
  border: 1px solid $white;
  &-user {
    font-size: 0.7rem;
    font-style: italic;
  }
  &-body {
    align-self: center;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .detail-container {
    width: 100%;
    min-height: fit-content;
    padding: 1rem;
  }
  .detail-info-container-separator {
    flex-direction: column;
    width: 100%;
  }
  .detail-info-container {
    height: fit-content;
    padding-bottom: 2rem;
  }
  .detail-info-text {
    width: 80%;
  }
  .detail-screenshot-container {
    height: auto;
  }
  .comments-container {
    width: 100%;
  }
  .comments-form {
    flex-direction: column;
  }
}

@media (max-width: 650px){
  .detail-image{
    width: 300px;
    height: 300px;
    align-self: center;
  }
}

@media (max-width: 370px){
  .detail-image{
    width: 200px;
    height: 200px;
    align-self: center;
  }
}