// COLOR PALETTE

$dark-blue: #001f3d;
$misty-blue: #ccdada;
$midnight-blue: rgb(15, 74, 111);
$grotto-blue: #1477b2;
$white: white;
$border-radius-075: 0.75rem;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin primaryGradientBackground {
  background: rgb(0, 31, 61);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 31, 61, 1) 0%,
    rgba(48, 82, 115, 1) 40%,
    rgba(48, 82, 115, 1) 60%,
    rgba(0, 31, 61, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 31, 61, 1) 0%,
    rgba(48, 82, 115, 1) 40%,
    rgba(48, 82, 115, 1) 60%,
    rgba(0, 31, 61, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 31, 61, 1) 0%,
    rgba(48, 82, 115, 1) 40%,
    rgba(48, 82, 115, 1) 60%,
    rgba(0, 31, 61, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001f3d",endColorstr="#001f3d",GradientType=1);
}

@mixin secondaryGradientBackground {
  background: rgb(0, 31, 61);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 31, 61, 1) 0%,
    rgba(66, 107, 147, 1) 35%,
    rgba(66, 107, 147, 1) 50%,
    rgba(66, 107, 147, 1) 65%,
    rgba(0, 31, 61, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 31, 61, 1) 0%,
    rgba(66, 107, 147, 1) 35%,
    rgba(66, 107, 147, 1) 50%,
    rgba(66, 107, 147, 1) 65%,
    rgba(0, 31, 61, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 31, 61, 1) 0%,
    rgba(66, 107, 147, 1) 35%,
    rgba(66, 107, 147, 1) 50%,
    rgba(66, 107, 147, 1) 65%,
    rgba(0, 31, 61, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001f3d",endColorstr="#001f3d",GradientType=1);
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.root {
  background: URL(https://th.bing.com/th/id/R.df46efbdc8195cfe7113c01348486bbd?rik=ZTinFsPyEMVmKQ&riu=http%3a%2f%2fnerdreactor.com%2fwp-content%2fuploads%2f2015%2f12%2fmy_steam_game_library_so_far_by_leifanghelenafan-d6u28y7-e1450684970702.jpg&ehk=CUaiSeByAHnlrzD0QTep4pVUFsMYuBmwlC8KWW%2fB4qM%3d&risl=&pid=ImgRaw&r=0);
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.657);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
