@import 'globals';

.landing {
  &-container {
    @include flexCenter;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    color: $white;
  }
  &-content{
    background-color: rgba(0, 0, 0, 0.904);
    @include flexCenter;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid $white;
    border-radius: $border-radius-075;
    gap: 2rem;
  }
  &-info-container{
    @include flexCenter;
    gap: 2rem;
  }
  &-info{
    width: 200px;
  }
  &-logo {
    width: 200px;
  }
  &-title {
    font-size: 3rem;
  }
  &-button {
    padding: 0.75rem;
    border: 1px solid $dark-blue;
    background-color: $grotto-blue;
    color: $white;
    cursor: pointer;
    border-radius: 0.3rem;
    &:hover {
      border: 1px solid $white;
    }
  }
  &-link{
    text-decoration: none;
    color: $white;
  }
}
