@import 'globals';

nav {
  @include flexAround;
  @include secondaryGradientBackground;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid $white;
  .icon {
    width: 50px;
    cursor: pointer;
  }
  .nav-item{
    border: 1px solid $white;
    text-decoration: none;
    padding: 1rem;
    color: $white;
    border-radius: $border-radius-075;
  }
}

.button-back{
  cursor: pointer;
  padding: 0.5rem;
  background-color: $dark-blue;
  border: 1px solid $white;
  color: $white;
  
}