@import 'globals';

.searchbar{
    &-container{
        @include primaryGradientBackground;
        width: fit-content;
        padding: 2rem 4rem 2rem 4rem;
        gap: 2rem;
        border-radius: $border-radius-075;
        @include flexCenter;
    }
    &-input{
        border-radius: 0.25rem;
        padding: 0.4rem;
    }
    &-button{
        margin-left: 1rem;
        padding: 0.35rem;
        border-radius: 0.25rem;
        border: 1px solid $white;
        color: $white;
        background-color: $midnight-blue;
        cursor: pointer;
    }
}