@import 'globals';

.user {
  &-container {
    border: 1px solid $white;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: $border-radius-075;
    color: $white;
    @include flexAround;
    gap: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  &-img {
    border-radius: 50%;
    width: 30px;
    &-big{
      border-radius: 50%;
      width: 100px;
    }
  }
}

.login {
  &-container {
    @include flexCenter;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    @include primaryGradientBackground;
    border-radius: $border-radius-075;
    margin-bottom: 2rem;
    gap: 1rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
  }
  &-title {
    color: $white;
    font-size: 3rem;
  }
  &-form {
    @include flexCenter;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    &-input {
      padding: 0.5rem;
    }
    &-submit {
      padding: 0.5rem;
      color: $white;
      background-color: $midnight-blue;
      border: 1px solid $white;
      cursor: pointer;
    }
  }
  &-error {
    border: 1px solid red;
    color: $white;
    background-color: rgb(212, 175, 175);
    padding: 1rem;
  }
  &-loading {
    color: $white;
  }
  &-user-item {
    color: $white;
  }
  &-button-logout {
    background-color: rosybrown;
    border: 1px solid red;
    color: $white;
    cursor: pointer;
    padding: 0.4rem;
  }
}

@media (max-width: 650px){
  .login-container{
    width: 100%;
  }
}