@import 'globals';

@mixin videogameCard {
  width: 300px;
  height: 300px;
  background-color: black;
}

.videogames-container {
  @include primaryGradientBackground;
  border: 1px solid black;
  width: 70%;
  height: fit-content;
  padding: 3rem;
  gap: 2rem;
  border: 1px solid $grotto-blue;
  @include flexWrap;
  color: $white;
  justify-content: center;
  border-radius: $border-radius-075;
}

.videogame {
  position: relative;
  cursor: pointer;
  border: 1px solid black;
  @include videogameCard;
  @include flexCenter;
  &:hover {
    border: 1px solid $white;
    .videogame-title {
      display: block;
      opacity: 1;
    }
    .videogame-button {
      display: block;
      opacity: 1;
    }
    .videogame-image {
      opacity: 0.2;
    }
  }
  &-image {
    width: 300px;
    height: 300px;
    transition: opacity ease-in 0.3s;
  }
  &-title {
    display: none;
    color: $white;
    text-shadow: 4px 4px 28px rgba(255, 255, 255, 1);
    position: absolute;
    top: 3rem;
    opacity: 1;
    transition: opacity ease-in-out 0.3s;
    text-align: center;
  }
  &-button {
    padding: 0.5rem;
    color: $white;
    display: none;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    position: absolute;
    bottom: 2rem;
  }
}

.pagination{
  &-container {
    margin-top: 1rem;
    width: 200px;
    @include flexAround;
  }
  &-item {
    padding: 0.5rem;
    background-color: $midnight-blue;
    border-radius: 0.3rem;
    color: $white;
    border: 1px solid $dark-blue;
    cursor: pointer;
    &-selected {
      padding: 0.5rem;
      background-color: $grotto-blue;
      color: $white;
      border: 1px solid $white;
      cursor: pointer;
      border-radius: 0.3rem;
    }
  }
}

@media (max-width: 900px) {
  .videogames-container {
    width: 100%;
    border-radius: 0;
    padding: 1rem;
  }
}

@media (max-width: 750px) {
  .videogame {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .videogame-image {
    width: 100%;
  }
}
